<table class="table table-striped">
    <thead>
    <tr>
        {% for option in product.options %}
            <th>{{ option.name }}</th>
        {% endfor %}
        <th>Prix</th>
        <th>Stock</th>
    </tr>
    </thead>
    <tbody>
    {% for variant in product.variants %}
        <tr class="variant-row clickable"
            data-url="{{ path('admin_product_variant_edit', {id: variant.id}) }}"
            style="cursor: pointer;">
            {% for option in product.options %}
                <th>
                    {% set value = null %}
                    {% for optionValue in variant.optionValues %}
                        {% if optionValue.option.id == option.id %}
                            {% set value = optionValue.name %}
                        {% endif %}
                    {% endfor %}
                    {{ value }}
                </th>
            {% endfor %}
            <td>{{ (variant.price / 100)|number_format(2) }}€</td>
            <td>{{ variant.onHand }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
