{% extends '@AropixelAdmin/Form/base.html.twig' %}
{% import '@AropixelAdmin/Macro/breadcrumb.html.twig' as nav %}

{% set is_edit = productOption.id is not null %}
{% set title = is_edit ? 'Modifier l\'option : ' ~ productOption.name : 'Ajouter une option' %}

{% block meta_title %}{{ title }}{% endblock %}

{% block header_title %}{{ title }}{% endblock %}

{% block header_breadcrumb %}
    {{ nav.breadcrumbs([
        { label: 'text.home'|trans, url: url('_admin') },
        { label: 'Options de produit', url: url('admin_product_option_index')  },
        { label: is_edit ? 'Modification' : 'Ajout'  },
    ]) }}
{% endblock %}

{% block mainPanel %}
    <div class="card card-centered card-centered-large">
        <div class="card-body">
            {{ form_row(form.name) }}
            {{ form_row(form.code) }}
            {{ form_row(form.position) }}
        </div>
    </div>
{% endblock %}
