{% extends '@AropixelAdmin/Form/base.html.twig' %}
{% import '@AropixelAdmin/Macro/breadcrumb.html.twig' as nav %}
{% import '@AropixelAdmin/Macro/forms.html.twig' as forms %}

{% set is_edit = zone.id is not null %}
{% set title = is_edit ? 'text.edit'|trans ~ ' : ' ~ zone.name : 'text.add'|trans %}

{% block meta_title %}{{ title }}{% endblock %}
{% block header_title %}{{ title }}{% endblock %}

{% block header_breadcrumb %}
    {{ nav.breadcrumbs([
        { label: 'text.home'|trans, url: url('_admin') },
        { label: 'Zones géographiques', url: path('admin_zone_index') },
        { label: (zone.id ? 'text.edit'|trans : 'text.add'|trans) }
    ]) }}
{% endblock %}

{% block tabbable %}
    {{ forms.tabs([
        { id: 'panel-tab-general', label: 'Général' },
    ]) }}
{% endblock %}

{% block mainPanel %}
    <div class="tab-pane active" id="panel-tab-general">
        <div class="card card-centered card-centered-large">
            <div class="card-body">
                {{ form_row(form.name) }}
                {{ form_row(form.code) }}
                {{ form_row(form.type) }}
                {{ form_row(form.scope) }}
                {{ form_row(form.priority) }}
                {{ form_widget(form.members) }}
            </div>
        </div>
    </div>
{% endblock %}
